* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    /* background: red; */
}

.container {

    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;

}

.item {
    text-align: center;
    background: #838383;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .item:nth-child(1) {
    background: red;
    grid-column: 1/3;
} */

.container1 {

    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 15px;

}

.item1 {
    text-align: center;
    background: #838383;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}

.item1:nth-child(1) {
    background: 838383;
    grid-column: 1/3;
    height: 150px;
    
}

.item1:nth-child(2) {
    background: rgb(61, 223, 21);
}
.item1:nth-child(3) {
    background: rgb(223, 21, 21);
}
.item1:nth-child(4) {
    background: rgb(132, 179, 240);
}